.about-section{
    display: flex;
    flex-flow: column-reverse;
}

.about-section-text-wrapper{
    height: 50vh;
    width: 100%;
    padding: 50px 20px;
}

.about-section-heading{
    font-size: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.about-section-heading span{
    position: absolute;
    width: 50%;
    height: 8px;
    border-radius: 5px 5px 0 0;
    background-color: var(--ls-2);
    bottom: -2px;
    margin-left: -25%;
}

#about-bird{
    display: none;
}

.about-section-paragraph{
    text-align: center;
    width: 100%;
    line-height: 30px;
}

.about-section-image-wrapper{
    height: 50vh;
    width: 100%;
    background-image: url(../images/mobile/006.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .about-section-text-wrapper{
        padding: 10% 20%;
    }

    .about-section-heading{
        margin-block: 20px;
    }

    .about-section-paragraph{
        font-size: 20px;
        line-height: 35px;
    }
    
}


@media screen and (min-width: 1366px) {
    .about-section{
        flex-flow: row;
        height: 100vh;
    }

    .about-section-image-wrapper{
        width: 50vw;
        height: 100%;
    }

    .about-section-text-wrapper{
        width: 50vw;
        height: 100%;
        padding: 10%;
    }

    .about-section-paragraph{
        text-align: left;
    }

    .about-section-heading{
        /* background-color: red; */
        width: fit-content;
        justify-content: flex-start;
    }

    .about-section-heading span{
        margin-left: 30%;
        width: 100%;
    }

    #about-bird{
        display: block;
        position: absolute;
        width: 60px;
        right: -50px;
    }

    .about-section-image-wrapper{
        background-image: url(../images/Desktop/006.jpg);
    }
}