:root{
    /* lighter shades */
    --ls-1: #d1beb0; /* Dark Vanilla */
    --ls-2: #e4bab8; /* Craven Pink */
    --ls-3: #bd8f62; /* Muddy Waters */

    /* darker shade */
    --ds-1: #972b22; /* Vivid Autumn */
    --ds-2: #433028; /* English Walnut */
    --ds-1: #240900; /* kilamanjaro */
}