:root{
    /* lighter shades */
    --ls-1: #d1beb0; /* Dark Vanilla */
    --lst-1: hsla(25, 26%, 75%, 0.5); /* Dark Vanilla */
    --ls-2: #e4bab8; /* Craven Pink */
    --lst-2: hsla(3, 45%, 81%, 0.5); /* Craven Pink */
    --ls-3: hsl(30, 41%, 56%); /* Muddy Waters */
    --lst-3: hsla(30, 41%, 56%, 0.5); /* Muddy Waters */

    /* darker shade */
    --ds-1: #972b22; /* Vivid Autumn */
    --dst-1: hsla(5, 63%, 36%, 0.5); /* Vivid Autumn */
    --ds-2: #433028; /* English Walnut */
    --ds-3: #240900; /* kilamanjaro */
}