.footer-form-wrapper{
    min-height: 50vh;
    width: 100%;
    background-color: var(--ls-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 20px;
    padding-block: 20px;
}

.footer-preview{
    color: var(--ds-1);
    letter-spacing: 3px;
    font-size: 12px;
}

.footer-heading{
    font-family: 'DM Sans', sans-serif;
    color: var(--ds-3);
    padding-inline: 30px;
    font-weight: 500;
    text-align: center;
}

.footer-list{
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

.footer-base-wrapper{
    min-height: 50vh;
    padding-block: 20px;
    width: 100%;
    background-color: var(--ds-2);
    display: flex;
    align-items: center;
    padding-block: 20px;
    justify-content: space-between;
    flex-flow: column;
    gap: 20px;
}

form{
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-inline: 30px;
    max-width: 500px;
    gap: 20px;
}

#email{
    height: 45px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
}

::placeholder{
    color: lightgray;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
}

form button{
    height: 45px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    border: none;
    color: var(--ls-0);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
    background-color: var(--ds-2);
}

.footer-logo{
    color: var(--ls-0);
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}

.footer-icon-wrapper{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    list-style: none;
}

#facebook-icon, #whatsapp-icon{
    color: white !important;
    font-size: 30px;
}

.footer-list{
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    color: var(--ls-0);
    text-align: center;
}


@media screen and (min-width: 768px) {  
    .footer-form-wrapper{
        height: fit-content;
        padding: 50px;
        padding-inline: 20%;
        min-height: unset;
    }
    
    .footer-base-wrapper{
        min-height: unset;
        height: 80px;
        flex-flow: row;
        padding-inline: 10%;
    }

    .footer-list{
        flex-flow: row;
        align-items: center;
        gap: 20px;
    }

    .footer-heading{
        text-align: center;
    }

    form{
        flex-flow: row;
    }

    form input{
        width: 70%;
    }

    form button{
        width: 30%;
    }

    .socials-list{
        margin-bottom: 0;
    }
}