@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=League+Gothic&family=Unica+One&display=swap');

@font-face {
  font-family: 'The Artist Script';
  src: url('../fonts/TheArtistScript.otf');
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

button{
  border: none;
  background-color: unset;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'League Gothic', sans-serif;
  font-family: 'Unica One', cursive;
  /* letter-spacing: 2px; */
}

p{
  font-family: 'DM Sans', sans-serif;
}

a{
  font-family: 'League Gothic', sans-serif;
  font-family: 'Unica One', cursive;
}

span{
  font-family: 'The artist script', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom scrollbar */
::-webkit-scrollbar{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

::-webkit-scrollbar-track{
  background-color: var(--ds-2);
}

::-webkit-scrollbar-thumb{
  background-color: var(--ls-0);
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid var(--ds-2);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--ls-1);
}
