.lead{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-text-wrapper{
    display: none;
}

.slide-container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.slider-wrapper{
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    width: 100vw;
    height: 50vh;
    min-height: 240px;
}

.slider{
    background-color: var(--ds-1);
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    position: absolute;
    align-items: center;
    left: 0vw;
    animation: slideShow infinite 50s;
}

.slide{
    width: 100vw;
    height: 50vh;
    min-height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

.slide-image{
    width: 100%;
    height: 120%;
    object-fit: cover;
    filter: drop-shadow(5px 5px 20px var(--ds-3));
}

.lead-content-wrapper{
    width: 100vw;
    min-height: 0vh;
    padding: 20px 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    min-height: 40vh;
    gap: 15px;
}

.text-wrapper h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--ds-3);
}

.text-wrapper p{
    font-size: 20px;
    line-height: 30px;
    color: var(--ds-3);
    text-align: center;
    max-width: 40ch;
    margin-block: 10px;
}

.text-wrapper span{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    color: var(--ls-0);
    text-align: center;
}


.order{
    width: 100%;
    height: 60px !important;
    text-align: center;
    background-color: var(--ds-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--ls-0);
    border-radius: 5px;
    font-size: 18px;
}

@keyframes slideShow {
    0%{ left: 0vw; }
    16%{ left: 0vw; }
    20%{ left: -100vw; }
    36%{ left: -100vw; }
    40%{ left: -200vw; }
    56%{ left: -200vw; }
    60%{ left: -300vw; }
    76%{ left: -300vw; }
    80%{ left: -400vw; }
    96%{ left: -400vw; }
    100%{ left: 0vw; }
}

/* styling specific to galaxy fold */
@media screen and (max-width: 280px) {
    .text-wrapper h1{
        font-size: 30px;
    }

    .text-wrapper{
        gap: 0px;
    }

    .text-wrapper p{
        margin-block: 0px;
    }
}

@media screen and (min-width: 768px) {
    .slide-image{
        height: 110%;
    }    

    .text-wrapper p{
        line-height: 35px;
        text-align: center;
    }
    
}

@media screen and (min-width: 1366px) {
    .slide-container{
        display: none;
    }
    
    .lead-text-wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .product-details-wrapper{
        width: 55vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15% 50px;
        gap: 100px;
    }

    .product-text-wrapper h1{
        font-size: 60px;
        color: var(--ds-3);
        margin-block: 20px;
    }
    
    .product-text-wrapper P{
        font-size: 20px;
        color: var(--ds-3);
        width: 70%;
        max-width: 32ch;
        margin-block: 20px;
        line-height: 30px;
    }

    .product-order{
        width: 200px;
        height: 50px !important;
        border-radius: 5px;
        box-sizing: unset;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--ls-0);
        background-color: var(--ds-1);
        box-shadow: 2px 2px 5px var(--dst-1);
    }
    
    .preview-details-wrapper{
        background-color: var(--ds-1);
        width: 45vw;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 50px;
    }

    .preview-text{
        color: var(--ls-0);
        font-size: 50px;
        font-weight: bold;
    }

    .display-image{
        position: absolute;
        width: 50%;
        height: 100%;
        left: 30%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orange{
        position: absolute;
        width: 7.5%;
        bottom: -7.5%;
        margin-left: 60px;
        filter: drop-shadow(10px 20px 20px var(--ds-3));
    }

    #displayed-image{
        filter: drop-shadow(10px 20px 20px var(--ds-3));
        height: 100%;
    }
}