.lead{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-text-wrapper{
    display: none;
}

.slide-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.slider{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    align-items: center;
    position: absolute;
    left: 0vw;
    animation: slideShow infinite 50s;
}

.slide{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slide:nth-child(1){
    background-image: url('../images/mobile/001.jpg');
}

.slide:nth-child(2){
    background-image: url('../images/mobile/002.jpg');
}

.slide:nth-child(3){
    background-image: url('../images/mobile/003.jpg');
}

.slide:nth-child(4){
    background-image: url('../images/mobile/004.jpg');
}

.slide:nth-child(5){
    background-image: url('../images/mobile/005.jpg');
}

.slide-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lead-content-wrapper{
    margin-top: 20vh;
    width: 90%;
    max-width: 400px;
    height: fit-content;
    height: 50vh;
    max-height: 400px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: var(--dst-1);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--ds-3);
}

.text-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    height: 40vh;
    gap: 15px;
}

.text-wrapper h1{
    font-size: 35px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: var(--ls-0);
}

.text-wrapper p{
    font-size: 20px;
    line-height: 30px;
    color: var(--ls-0);
    text-align: center;
}

.text-wrapper span{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    color: var(--ls-0);
    text-align: center;
}


.order{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--ls-0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--ds-1);
    border-radius: 5px;
    font-size: 18px;
}

@keyframes slideShow {
    0%{ left: 0vw; }
    16%{ left: 0vw; }
    20%{ left: -100vw; }
    36%{ left: -100vw; }
    40%{ left: -200vw; }
    56%{ left: -200vw; }
    60%{ left: -300vw; }
    76%{ left: -300vw; }
    80%{ left: -400vw; }
    96%{ left: -400vw; }
    100%{ left: 0vw; }
}

@media screen and (min-width: 768px) {
    .lead-content-wrapper{
        margin-top: 0;
        margin-bottom: 100px;
    }

    .slide-container{
        justify-content: center;
    }
}

@media screen and (min-width: 1366px) {
    .slide-container{
        display: none;
    }
    
    .lead-text-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .product-details-wrapper{
        width: 55%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15% 50px;
        gap: 100px;
    }

    .product-text-wrapper h1{
        font-size: 60px;
        color: var(--ds-3);
        margin-block: 20px;
    }
    
    .product-text-wrapper P{
        font-size: 20px;
        color: var(--ds-3);
        width: 70%;
        max-width: 32ch;
        margin-block: 20px;
        line-height: 30px;
    }

    .product-order{
        width: 200px;
        height: 50px !important;
        border-radius: 5px;
        box-sizing: unset;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--ls-0);
        background-color: var(--ds-1);
        box-shadow: 2px 2px 5px var(--dst-1);
    }
    
    .preview-details-wrapper{
        background-color: var(--ds-1);
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 50px;
    }

    .preview-text{
        color: var(--ls-0);
        font-size: 50px;
        font-weight: bold;
    }

    .display-image{
        position: absolute;
        width: 50%;
        height: 100%;
        left: 30%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .orange{
        position: absolute;
        width: 7.5%;
        bottom: -60px;
        margin-left: 60px;
        filter: drop-shadow(10px 20px 20px var(--ds-3));
    }

    #displayed-image{
        filter: drop-shadow(10px 20px 20px var(--ds-3));
        height: 100%;
    }
}

@media screen and (min-width: 1920) {
    .product-text-wrapper P{
        width: 40ch !important;
        background-color: red !important;
    }

}