nav{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column;
}

.navbar-wrapper, .sidebar-wrapper{
    /* background-color: var(--lst-3); */
    z-index: 4;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px;
}

.logo, .sidebar-logo{
    z-index: 8;
    font-size: 50px;
    text-decoration: none;
    font-family: 'The artist script', cursive;
    /* font-family: 'DM Sans', sans-serif; */
    font-weight: bolder;
    transition: 200ms;
    color: var(--ls-0);
    text-transform: capitalize;
    /* animation: logoColor infinite 50s; */
}

.navlist{
    display: none;
}


@keyframes logoColor {
    0%{ color: var(--ds-3) }
    16%{ color: var(--ds-3) }
    20%{ color: var(--ds-3) }
    36%{ color: var(--ds-3) }
    40%{ color: var(--ls-0) }
    56%{ color: var(--ls-0) }
    60%{ color: var(--ls-0) }
    76%{ color: var(--ls-0) }
    80%{ color: var(--ls-0) }
    96%{ color: var(--ls-0) }
    100%{ color: var(--ds-3) }
}

.open-sidenav{
    height: 40px;
    aspect-ratio: 1/1;
    z-index: 8;
    /* background-color: var(--dst-1); */
    border-radius: 5px;
    display: grid;
    place-items: center;
}

#menu-icon{
    font-size: 35px;
    transition: 200ms;
    color: var(--ls-0);
    /* animation: logoColor infinite 50s; */
}

.sidebar{
    position: fixed;
    width: 100VW;
    height: 100vh;
    background-color: var(--dst-1);
    backdrop-filter: blur(20px);
    z-index: 10;
    transition: 350ms;
    top: -100vh;
    transition: 500ms ease-in;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 20px;
}

.sidebar-wrapper{
    background-color: unset;
}

.sidebar-logo{
    color: var(--ls-0);
    animation: unset;
}

#close-icon{
    font-size: 40px;
    color: var(--ls-0);
}

.sidebar-list{
    width: 100%;
    height: 40vh;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
}

.sidebar-list-items{
    width: 100%;
    height: 25%;
    /* background-color: red; */
    padding: 7.5px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid var(--ls-1); */
}

.sidebar-list-items:last-child{
    border-bottom: none;
}

.sidebar-list a{
    color: var(--ls-0);
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    /* font-family: 'The artist script', cursive; */
}

@media screen and (min-width: 768px) {
    .open-sidenav{
        display: none;
    }
    
    .sidebar{
        display: none;
    }

    .navlist{
        display: flex;
        gap: 20px;
        list-style-type: none;
        align-items: center;
    }

    .navlist-items a{
        text-decoration: none;
        color: var(--ls-0);
        cursor: pointer;
        padding: 10px 20px;
        box-sizing: unset;
        transition: 500ms ease-in;
        border-radius: 6px;
        font-weight: bold;
    }
    
    .navlist-items a:hover{
        background-color: var(--ls-0);
        color: var(--ds-3);
    }

    .navbar-wrapper{
        padding-inline: 3.75%;
    }
}

@media screen and (min-width: 768px) {
    .logo{
        color: var(--ds-3);
        font-size: 65px;
    }
}